<ion-menu [content]="NAV">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <img src="/assets/imgs/logo.png" alt="">
        <ion-list>
          <ion-list-header>Malls</ion-list-header>
          <button ion-item *ngFor="let page of appPages" (click)="goToPage(page.component)" menuClose>
            <ion-icon item-left name="{{page.icon}}"></ion-icon>
            {{page.title}}
          </button>
        </ion-list>
        <ion-list-header>Products</ion-list-header>
        <ion-list-header>Wish List</ion-list-header>
        <ion-list-header><ion-icon item-left name="information-cicle"></ion-icon>About</ion-list-header>
        <ion-list>
          <ion-list-header>Account</ion-list-header>
          <button ion-item (click)="closeMenu()">
            Login
          </button>
          <button ion-item (click)="closeMenu()">
            Setup
          </button>
          <button ion-item (click)="closeMenu()">
            Signup
          </button>
        </ion-list>
      </ion-content>
  </ion-menu>
  
  <ion-nav #NAV [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
  
<!--
<ion-header>
  <ion-navbar>
    <ion-title>Go2Buy</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-nav [root]="rootPage"></ion-nav>
</ion-content>
-->
<!--<ion-nav [root]="rootPage"></ion-nav>-->
<!--<ion-nav [root]="rootPage"></ion-nav>-->




<!--
<ion-split-pane>
	<ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
      -->
        <!--
          <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      -->
      <!--
      </ion-list>
    -->
<!--
      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>
    -->
    <!--
    </ion-content>

  </ion-menu>

  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">
    -->
<!--
      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>
    -->
    <!--
    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
-->